@import "compass"

// Make taxonomy term reference styling normal.
div.field-type-taxonomy-term-reference
  font-family: Georgia, "Times New Roman", Times, serif
  margin: 0
  .field-label
    font-size: 1em
    font-weight: bold

// Fix overeager .node selector for entityreference and field_collection.
#content
  .node
    .node
      margin-top: 1em
      .meta.submitted
        display: none
      h2,
      .content
        font-size: 1em
        margin-top: 0
    .entity-field-collection-item
      .content
        margin-top: 0

// Don't shrink sidebar text.
.sidebar
  .block
    .content
      font-size: 1em

// On the mentors and participants table views, float the image to the right.
.views-field-name
  .user-picture
    +float-right
